@keyframes recordAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes recordOutofSleeve {
  0% {
    transform: translate(35px);
  }
  100% {
    transform: translateX(160px);
  }
}

@keyframes frontSleeveBackward {
  0% {
    transform: translateX(0px) scale(0.8);
    z-index: 0;
  }
  50% {
    transform: translateX(110px) scale(0.8);
    z-index: 0;
  }
  75% {
    z-index: 1;
  }
  100% {
    transform: translateX(70px) scale(1);
    z-index: 1;
  }
}

@keyframes frontSleeveForward {
  0% {
    transform: translateX(0px) scale(0.8);
    z-index: 0;
  }
  50% {
    transform: translateX(-110px) scale(0.8);
    z-index: 0;
  }
  75% {
    z-index: 1;
  }
  100% {
    transform: translateX(70px) scale(1);
    z-index: 1;
  }
}

@keyframes backSleeveBackward {
  0% {
    transform: translateX(70px) scale(1);
    z-index: 1;
  }
  50% {
    transform: translateX(-110px) scale(0.8);
    z-index: 1;
  }
  75% {
    z-index: 0;
  }
  100% {
    transform: translateX(0px) scale(0.8);
    z-index: 0;
  }
}

@keyframes backSleeveForward {
  0% {
    transform: translateX(70px) scale(1);
    z-index: 1;
  }
  50% {
    transform: translateX(110px) scale(0.8);
    z-index: 1;
  }
  75% {
    z-index: 0;
  }
  100% {
    transform: translateX(0px) scale(0.8);
    z-index: 0;
  }
}

@keyframes recordPlay {
  0% {
    transform: translateX(160px);
  }
  80% {
    z-index: 2;
  }
  100% {
    z-index: 2;
    transform: translateX(488px) scale(0.87);
    filter: none;
  }
}

@keyframes recordStop {
  0% {
    opacity: 1;
    transform: translateX(488px) scale(0.87);
    z-index: 2;
  }
  90% {
    opacity: 1;
    z-index: 0;
  }
  100% {
    z-index: 0;
    transform: translateX(35px) scale(0.8);
  }
}

@keyframes recordSpinning {
  from {
    z-index: 2;
    transform: translateX(488px) scale(0.87) rotate(0deg);
    filter: none;
  }
  to {
    transform: translateX(488px) scale(0.87) rotate(360deg);
  }
}

@keyframes plateSpinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes armPlaying {
  0% {
    transform-origin: 76% 21%;
    transform: rotate(-20deg);
  }
  100% {
    transform-origin: 76% 21%;
    transform: rotate(5deg);
  }
}

@keyframes armStoping {
  0% {
    transform-origin: 76% 21%;
    transform: rotate(5deg);
  }
  100% {
    transform-origin: 76% 21%;
    transform: rotate(-20deg);
  }
}

@keyframes textSlide {
  0% {
    transform: translateX(999px);
  }
  100% {
    transform: translateX(-999px);
  }
}
